*.o
*.so
*~
*.swp
*TAGS
cscope.out
autom4te.cache
config.h.in
Makefile
Makefile.in
*.lo
*.la
.deps
.libs
aclocal.m4
build-aux
config.log
config.status
configure
libtool
m4
src/config.h
src/stamp-h1
core.*
core
